---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---
<Layout title="Contacto" >
    <section>
        <aside>
            <h2>Podés encontrarnos</h2>
        </aside>
        <Form/>
    </section>
</Layout>

<style>
    section{
        display: flex;
        justify-content: center;
        height: 75vh;
    }
    aside{
        display: flex;
        flex-direction: column;
        padding-inline: 10px;
        width: 30%;
        height: 100%;
    }
</style>