---
import Clients from '../components/Clients.astro';
import Landing from '../components/Landing.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="Archivos gyg - Especialistas en Optimizar Espacios">
	<main>
		<Landing/>
		<Clients/>
		<Services/>
		<About/>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}
</style>
