---
import Slider from "./Slider/Slider";

---

<section>
    <h2>Quienes confian en nosotros</h2>
    <span/>
    <Slider client:only />
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
    }
    h2{
        margin: 0;
    }
    @media
        (width < 480px){
            h2{
                font-size: 1.8rem;
            }
        }
</style>