---
if(Astro.request.method === "POST"){
    try {
        const data = await Astro.request.formData()
        const name = data.get("name");
        const phone = data.get("phone");
        const email = data.get("email"); 
        const message = data.get("message") 
        console.log(name,phone,email,message)
    } catch (error) {
        
        console.log(error)
    }
}
---

<form method="POST" enctype="multipart/form-data" >
    <label>
        Nombre y Apellido:
        <input type="text" name="name">
    </label>
    <label>
        Telefono:
        <input type="text" name="phone">
    </label>
    <label>
        E-mail:
        <input type="text" name="email">
    </label>
    <label>
        Mensaje:
        <textarea name="message" />
    </label>
    <button>Enviar</button>
</form>

<style>
    form{
        display: grid;
    }
    label{
        margin: 0;
    }
</style>