---

---

<form method="POST">
    <label>
        Nombre y Apellido:
        <input type="text" name="name">
    </label>
    <label>
        Telefono:
        <input type="text" name="phone">
    </label>
    <label>
        E-mail:
        <input type="text" name="email">
    </label>
    <label>
        Mensaje:
        <textarea name="message" />
    </label>
    <button>Enviar</button>
</form>

<style>
    form{
        display: grid;
    }
    label{
        margin: 0;
    }
</style>