---
---

<section>
    <div class="box_landing" >
        <h2>Bienvenidos</h2>
        <h1>Archivos gyg</h1>
        <h3>Especialistas en optimizar espacios.</h3>
        <button>Contáctanos!</button>
    </div>
</section>

<style>
    section{
        padding-top: 60px;
        display: grid;
        justify-content: center;
        width: 100%;
        color: #ffff;
    }
    .box_landing{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        margin: 0;
    }
    h2{
        margin: 0;
        margin-bottom: -55px;
    }
    h3{
        margin: 0;
    }
    button{
        margin-top: 20px;
    }
</style>