---
---

<section>
    <div class="box_landing" >
        <h2>Bienvenidos</h2>
        <h1>Archivos gyg</h1>
        <h3>Especialistas en optimizar espacios.</h3>
        <a href="/contacto">Contáctanos!</a>
    </div>
</section>

<style>
    section{
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: -110px;
        width: 100%;
        height: 100vh;
        color: #ffff;
        background-image: url('../../archivos-gyg.gif');
	background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    section::after{
        z-index: 2;
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color:#4b4b4b4b;
    }
    a{  
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
		width: 150px;
		height: 40px;
		color: #425336;
		background-color: #ffd936;
		border: none;
		border-radius: 3px;
		font-size: .8rem;
        margin-top: 10px;
    }
    a:hover{
        background-color: #425336;
    }
    .box_landing{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        margin: 0;
    }
    h2{
        margin: 0;
        margin-bottom: -55px;
    }
    h3{
        margin: 0;
    }
    button{
        margin-top: 20px;
    }
    @media
        (width < 480px){
            h1{
                font-size: 4rem;
                margin-top: 15px;
            }
        }
</style>
