---
---

<section>
    <div>
        <img src='./../../logo-archivos-gyg.webp'>
    </div>
    <div class="button_nav" >
        <a href="/" >Home</a>
        <a>Contact</a>
        <button>+54 9 11 6230-9102</button>
    </div>
</section>
<style>
    section{
        display: flex;
        justify-content: space-between;
        padding-left: 5rem;
        padding-right: 5rem;
        align-items: center;
        height: 100px;
    }
    .button_nav{
        display: flex;
        align-items: center;
        a{
            color: #ffff;
            margin-inline: 10px;
        }
        button{
            color: #425336;
            background-color: #ffffff8c;
            border: solid 1px #ffff;
            margin-left: 20px;
        }
    }
    img{
        height: 90px;
    }
</style>
