---
---

<section>
    <div>
        <h2>Nuestros servicios</h2> 
        <h3>Archivo G&G desarrolla sus productos y sistemas en <br/> diferentes Secciones según la funcionalidad y finalidad de los mismos.</h3>
    </div>
</section>

<style>
    section{
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        height: 70vh;
    }
</style>