---
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-archivos-gyg.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="canonical" href="https://archivosgyg.com.ar/">
		<link rel="shortlink" href="https://archivosgyg.com.ar/">
	</head>
	<body>
		<Navbar/>
		<slot />
	</body>
	<footer>
		Copyright © 2024 Archivos GyG |
		<a href="./PrivacyPolicies"
		   target="_blank"
		   rel="noreferrer"
		   aria-label="Política de privacidad"	
		   >
		   Políticas de Privacidad
		</a>| Powered by 
		<a href="https://wa.link/antkm3"
		   target="_blank" 
		   rel="noreferrer" 
		   aria-label="Contactanos por whatsapp" 
		   >
		   Jonatan Avila Diseño - Desarrollo Web
		</a>
	</footer>
</html>
<style is:global>
	:root {
		background-color: #EEEEEE;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	:root::-webkit-scrollbar{
		width: 5px;
	}
	:root::-webkit-scrollbar-thumb{
		background: #425336;
	}
	body{
		margin: 0;
	}
	footer{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border-top: solid 1px #425336;
		padding-top: 10px;
		height: 80px;
	}
	a{	
		cursor: pointer;
		margin-inline: 5px;
		text-decoration: none;
		color: #536942;
		transition: all ease 200ms;
	}
	a:hover{
		color: #ffd936;
	}
	html {
		font-family: "Lato", sans-serif;
		text-rendering: geometricPrecision;
		color: #536942;
		background: #13151a;
		background-size: 224px;
		font-display: wrap;
	}
	h1{
		font-size: 6.5rem;
		font-weight: 400;
	}
	h2{
		font-size: 2.5rem;
		font-weight: 500;
	}
	h3{	
		font-family: "Roboto", sans-serif;
		font-size: 1.2rem;
		font-weight: 400;
		font-display: wrap;
	}
	p{
		font-family: "Roboto", sans-serif;
		font-size: .9rem;
		font-weight: 300;
		text-wrap:pretty;
		font-display: wrap;
	}
	span{
        height: 3px;
        width: 80px;
        background-color: #fcb900;
    }
	@media
		(width < 900px){
			footer{
				display: block;
				align-items: center;
				text-align: center;
			}
		}
</style>
